{% extends 'base.html.twig' %}

{% block body_id 'test' %}

{% block title %}
	{{ 'test.title'|trans }}
{% endblock %}

{% block body %}
	<h1 class="my-4 text-2xl font-semibold">{{ 'test.title'|trans }}</h1>
	<ul>
		{% for item in items %}
			{% set path = 'app_test_' ~ item %}
			<li>
				<a href="{{ path(path) }}">
					Test
					{{ item }}
				</a>
			</li>
		{% endfor %}
		<li>
			<a href="{{ path('app_test_tailwind_form') }}" data-turbo-frame="modal">Test turbo-frame modal for tailwind form</a>
		</li>
		<li>
			<a href="{{ path('app_test_symfony_form') }}" data-turbo-frame="modal">Test turbo-frame modal for symfony form</a>
		</li>
	</ul>
	<div id="stream-container">
	</div>
{% endblock %}
